@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
/* This image is to overwrite the image in the project. His did not render. Mine did*/
.bg-hero-pattern {
    background-image: url(https://eldonhernandez.com/images/secondary-hero-treeti.jpg) !important; 
}

.e-kanban {
    background-color: transparent !important;
}

.e-kanban .e-kanban-table .e-header-cells {
    background-color: #FeFeFe !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;